
body{
  background-color: #e6ecf0;
  overflow-x: hidden;
  font-family: "Segoe UI", Arial, sans-serif!important;

}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}
.feedAuthor{
  font-family: "Segoe UI", Arial, sans-serif!important;
}
.cardHover:hover{
  cursor:pointer;
  color: #1da1f2;
}


.navSearch{
  display: block;
  outline: 0;
  width: 100%;
  height: 65%;
  background-color: #f5f8fa;
  border: 1px solid #e6ecf0;
  border-radius: 40px;
  font-size: 12px;
  color: #14171a;
  padding-left: 10px;
}

.navSearch:focus{
  background-color: #ffffff;
  border: 2px solid #1da1f2;
}
.tweetInput{
  position: relative;
  display: inline-block;
  
}
.tweetInput .fa-picture-o {
  color: #1da1f2;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 20px;
}
#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -56px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltiptext{
  font-size: 12px;
  font-family: "Segoe UI", Arial, sans-serif;
}
#tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -9px;
    border-width: 2px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tweetInput .fa-smile-o{
  color: #1da1f2;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 18px;
}

.searchMe{
  position: relative;
  display: inline-block;
}
.searchMe .fa-search {
  color: grey;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px;
}
.tweetStats:hover{
  color:#1da1f2!important;
  cursor: pointer;
}

.hoverLink:hover{
  cursor:pointer;
  text-decoration: underline;
}
.refContainer{
  background-color: #f5f8fa;
  padding-bottom: 1px;
}
.refContainer:hover{
  background-color: #f4f4f4;
  cursor:pointer;
}
.refreshTweets{
  color:#1da1f2 !important;
  cursor:pointer;
}
.refreshTweets:hover{
    background-color: #f5f8fa;
}
.feedGrid:hover{
  cursor:pointer;
  background-color: #f5f8fa;
}

.feedAuthor{
  font-family: "Segoe UI", Arial, sans-serif!important;
}

.feedAuthor:hover{
  font-family: "Segoe UI", Arial, sans-serif!important;
  cursor:pointer;
  color:#1da1f2 ;
  text-decoration: underline;
}


#pl::-webkit-input-placeholder { /* Chrome */
  color: #1da1f2;
  font-size: 14px;
  font-family: "Segoe UI", Arial, sans-serif;

}
#pl:-ms-input-placeholder { /* IE 10+ */
  color: #1da1f2;
  font-size: 14px;
  font-family: "Segoe UI", Arial, sans-serif;

}
#pl::-moz-placeholder { /* Firefox 19+ */
  color: #1da1f2;
  font-size: 14px;
  font-family: "Segoe UI", Arial, sans-serif;

  opacity: 1;
}
#pl:-moz-placeholder { /* Firefox 4 - 18 */
  color: #1da1f2;
  font-size: 14px;
  font-family: "Segoe UI", Arial, sans-serif;

  opacity: 1;
}
.followMe:hover{
  cursor:pointer;
  color:#1da1f2 ;
  text-decoration: underline;
}

.aboutLinks{
  float: left;
  padding-right: 8px;
}

 .aboutLinks:hover{
  cursor:pointer;
  text-decoration: underline;
  color:#1da1f2;
}


.advertiseLink:hover{
  text-decoration: underline;
  cursor:pointer;
}
.fa-external-link:hover{
  
  cursor:pointer;
}